<div class="post__header">

  <div class="post__user">
    <div class="user">
      <a href="#" class="user__avatar">
        <img src="{%user.image%}" alt="">
      </a>
      <a href="#" class="user__name">
        {%user.name%} {%user.lastName%}
      </a>
    </div>

  </div>

  <div class="post__links">
    <a href="#" class="edit-link">
      <i class="far fa-trash-alt"></i>
      Delete
    </a>

    <a href="edit.html" class="edit-link">
      <i class="fas fa-pencil-alt"></i>
      Edit
    </a>
  </div>
</div>
